@media (min-width:300px){
	.port-col{
		width:100%;
	}.port-head p{
		font-size:20px;
		font-weight:700;
	}
}
@media (min-width:600px){
	.port-col{
		width:100%;
	}.port-head p{
		font-size:24px;
		font-weight:700;
	}
}
@media (min-width:992px){
	.port-col{
		width:50%;
	}
	.port-head p{
		font-size:28px;
		font-weight:700;
	}
}
@media (min-width:1200px){
	.port-col{
		width:33.33%;
	}
	.port-head p{
		font-size:36px;
		font-weight:700;
	}
}